
body {
    background-color: lightgrey;
  }
  h1{
    text-align:center;
    font-size:50px;
    color:brown;
  }
  h2{
    color:darkblue;
  }
  .flex-parent {
    display: flex;
    background-color: black;
    flex-wrap:wrap;
  }
  .flex-parent >div {
    background-color: skyblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  .flex-dir-col {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .flex-dir-col >div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-dir-col-rev {
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
  }
  .flex-dir-col-rev > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-dir-row {
    display: flex;
    flex-direction: row;
    background-color: black;
  }
  .flex-dir-row > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-dir-row-rev {
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
  }
  .flex-dir-row-rev > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-Wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
  }
  .flex-Wrap > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
  }
  .flex-nowrap>div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-wrap-rev {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: black;
  }
  .flex-wrap-rev > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-flow {
    display: flex;
    flex-flow: row wrap;
    background-color: black;
  }
  .flex-flow > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-center {
    display: flex;
    justify-content: center;
    background-color: black;
  }
  .flex-center > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-start {
    display: flex;
    justify-content: flex-start;
    background-color: black;
  }
  .flex-start > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-end {
    display: flex;
    justify-content: flex-end;
    background-color: black;
  }
  .flex-end > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-space-around{
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  .flex-space-around > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-space-between {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  .flex-space-between > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-center {
    display: flex;
    height: 200px;
    align-items: center;
    background-color: black;
  }
  .flex-align-center > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-align-start {
    display: flex;
    height: 200px;
    align-items: flex-start;
    background-color: Black;
  }
  .flex-align-start > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-end {
    display: flex;
    height: 200px;
    align-items: flex-end;
    background-color: Black;
  }
  .flex-align-end > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-stretch {
    display: flex;
    height: 200px;
    align-items: stretch;
    background-color: black;
  }
  .flex-align-stretch > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-baseline {
    display: flex;
    height: 200px;
    align-items: baseline;
    background-color: black;
  }
  .flex-align-baseline > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-content-space-between{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
    overflow: scroll;
    background-color: black;
  }
  .flex-align-content-space-between > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-align-content-space-around {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-around;
    overflow: scroll;  
    background-color: black;
  }
  .flex-align-content-space-around > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-content-stretch {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: stretch;
    overflow: scroll;  
    background-color: black;
  }
  .flex-align-content-stretch > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-align-content-cenetr {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    overflow: scroll;  
    background-color: black;
  }
  .flex-align-content-cenetr > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-align-content-start {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: scroll;  
    background-color: black;
  }
  .flex-align-content-start > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  .flex-align-content-end {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: flex-end;
    overflow: scroll;  
    background-color: black;
  }
  .flex-align-content-end > div {
    background-color: skyblue;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-perfect-centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
  }
  .flex-perfect-centering > div {
    background-color: skyblue;
    color: white;
    width: 100px;
    height: 100px;
  }
  
  
  .flex-items {
    display: flex;
    background-color: skyblue;
  }
  .flex-items > div {
    background-color: black;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-order-items {
    display: flex;
    align-items: stretch;
    background-color: skyblue;
  }
  .flex-order-items >div {
    background-color: black;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-grow-items {
    display: flex;
    align-items: stretch;
    background-color: skyblue;
  }
  .flex-grow-items > div {
    background-color: black;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-shrink-prop {
    display: flex;
    align-items: stretch;
    background-color: skyblue;
  }
  .flex-shrink-prop>div {
    background-color: black;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-basis-prop {
    display: flex;
    align-items: stretch;
    background-color: skyblue;
  }
  .flex-basis-prop > div {
    background-color: black;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
  
  .flex-self {
    display: flex;
    height: 200px;
    background-color: skyblue;
  }
  .flex-self > div {
    background-color: black;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  
